/* 
Author: WeepingDogel
File:  FontOfWords.css
Description: This is the Stylesheet of the Fonts.
*/
.centerTitle{
    /* The title in the center of a box. */
    font-size: 30px;
    font-weight: lighter;
    color: #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    line-height: 50px;
}
.leftTitle{
    font-size: 20px;
    font-weight: lighter;
    border-bottom: solid 1px black;
    color: #000;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    height: 29px;
    text-indent: 2em;
    line-height: 30px;
}
.Nums{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    display: block;
    line-height: 30px;
    color: #757575;
    transition: 500ms;
}
.textProfile{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: lighter;
    color: #757575;
    display: block;
    transition: 500ms;
}
.Login_And_Register_Title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: lighter;
    text-align: center;
    line-height: 135px;
    transition: 500ms;
}
.Login_And_Register_Title:hover{
    transition: 500ms;
    font-size: 64px;
}
