*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: #f2f2f2;
    /* background: linear-gradient(to right, pink, skyblue); */
}
@keyframes fadeIn {
    from{
        opacity: 0;
        top: 10px;
    }
    to{
        opacity: 1;
        top: 0;
    }
}
@keyframes scale{
    from {
        opacity: 0;
        transform: scale(0.1,0.1);
    }
    to {
        opacity: 1;
        transform: scale(1,1);
    }
}

@media screen and (min-width:1280px) {
    .TopBar{
        width: 100%;
        height: 80px;
        background-color: white;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
    .ProfileBar{
        position: absolute;
        width: 300px;
        height: 600px;
        display: none;
        background-color: white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        float: right;
        z-index: 1;
    }
    .avatar{
        width: 224px;
        height: 224px;
        margin: 0 auto;
        margin-top: 10px;
        background-color: white;
        border-radius: 100%;
        transition: 500ms;
    }
    .avatar img{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        text-align: center;
        transition: 500ms;
    }
    .avatar:hover{
        width: 280px;
        height: 280px;
        transition: 500ms;
    }
    .Content{
        height: auto;
        max-width: 100%;
        min-height: 500px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        animation: fadeIn 600ms;
    }
    .work{
        width: 370px;
        height: 500px;
        margin: 0 auto;
        margin-top: 20px;
        background-color: white;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        transition: 500ms;
    }
    .work:hover{
        transition: 500ms;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
        transform: scale(1.05,1.05);
    }
    .work img{
        width: 370px;
        height: 300px;
        animation: scale 600ms;
        object-fit: cover;
    }
    .menuButton{
        width: 300px;
        height: 80px;
        text-align: center;
        display: block;
        background-color: white;
        margin-right: 20px;
        float: right;
        transition: 500ms;
    }
    .menuButton:hover{
        background-color: #f5f5f5;
        transition: 500ms;
    }
    .menuButton:hover .ProfileBar{
        display: block;
    }
    .InfoPanel{
        width: 80%;
        height: 500px;
        background-color: white;
        margin: 0 auto;
        margin-top: 20px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        animation: fadeIn 600ms;
    }
    .InfoPanel img{
        margin-top: 20px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        display: inline-block;
    }
    .Published{
        width: 80%;
        height: auto;
        background-color: white;
        margin: 0 auto;
        margin-top: 15px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        position: relative;
        animation: fadeIn 600ms;
    }
    .loginButton{
        width: 280px;
        height: 40px;
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0 auto;
        background-color: #f5f5f5;
        outline: none;
        border: 0;
        color: black;
        display: block;
    }
    .loginButton:hover{
        background-color: #f1f1f1;
    }
    .loginButton:active{
        background-color: #c4c4c4;
    }
    .logoutButton{
        width: 280px;
        height: 40px;
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 10px auto;
        background-color: #f5f5f5;
        outline: none;
        border: 0;
        color: black;
        display: block;
    }
    .logoutButton:hover{
        background-color: #f1f1f1;
    }
    .logoutButton:active{
        background-color: #c4c4c4;
    }
    #mask{
        top: 0;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        z-index: 2;
        animation: fadeIn 600ms;
    }
    .Uploader{
        width: 400px;
        height: 400px;
        background-color: white;
        margin: 0 auto;
        margin-top: 10%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        animation: fadeIn 600ms;
    }
    .Uploader h1{
        line-height: 60px;
    }
    .SingleTextLine{
        display: block;
        width: 280px;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;
        outline: none;
        border: none;
        border-bottom: solid 2px black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    .MultiText{
        display: block;
        width: 280px;
        height: 80px;
        margin: 10px auto;
        outline: none;
        border: none;
        border-bottom: solid 2px black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
}

@media screen and (max-width:1280px) {
    .TopBar{
        width: 100%;
        height: 80px;
        background-color: white;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
    .ProfileBar{
        position: absolute;
        width: 300px;
        height: 600px;
        display: none;
        background-color: white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        float: right;
        z-index: 1;
    }
    .avatar{
        width: 224px;
        height: 224px;
        margin: 0 auto;
        margin-top: 10px;
        background-color: white;
        border-radius: 100%;
        transition: 500ms;
    }
    .avatar img{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        text-align: center;
        transition: 500ms;
    }
    .avatar:hover{
        width: 280px;
        height: 280px;
        transition: 500ms;
    }
    .Content{
        height: auto;
        max-width: 100%;
        min-height: 500px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        animation: fadeIn 600ms;
        /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); */
    }
    .work{
        width: 300px;
        height: 500px;
        margin: 0 auto;
        margin-top: 20px;
        background-color: white;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        transition: 500ms;
    }
    .work:hover{
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        transition: 500ms;
        transform: scale(1.05,1.05);
    }
    .work img{
        width: 300px;
        height: 300px;
        animation: scale 600ms;
        object-fit: cover;
    }
    .menuButton{
        width: 300px;
        height: 80px;
        text-align: center;
        display: block;
        background-color: white;
        margin-right: 20px;
        float: right;
        transition: 500ms;
    }
    .menuButton:hover{
        background-color: #f5f5f5;
        transition: 500ms;
    }
    .menuButton:hover .ProfileBar{
        display: block;
    }
    .InfoPanel{
        width: 80%;
        height: 500px;
        background-color: white;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        animation: fadeIn 600ms;
    }
    .InfoPanel img{
        margin-top: 20px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        display: inline-block;
    }
    .Published{
        width: 80%;
        height: auto;
        background-color: white;
        margin: 0 auto;
        margin-top: 15px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        position: relative;
        animation: fadeIn 600ms;
    }
    .loginButton{
        width: 280px;
        height: 40px;
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0 auto;
        background-color: #f5f5f5;
        outline: none;
        border: 0;
        color: black;
        display: block;
    }
    .loginButton:hover{
        background-color: #f1f1f1;
    }
    .loginButton:active{
        background-color: #c4c4c4;
    }
    .logoutButton{
        width: 280px;
        height: 40px;
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 10px auto;
        background-color: #f5f5f5;
        outline: none;
        border: 0;
        color: black;
        display: block;
    }
    .logoutButton:hover{
        background-color: #f1f1f1;
    }
    .logoutButton:active{
        background-color: #c4c4c4;
    }
    #mask{
        top: 0;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        z-index: 2;
        animation: fadeIn 600ms;
    }
    .Uploader{
        width: 400px;
        height: 400px;
        background-color: white;
        margin: 0 auto;
        margin-top: 10%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        animation: fadeIn 600ms;
    }
    .Uploader h1{
        line-height: 60px;
    }
    .SingleTextLine{
        display: block;
        width: 280px;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;
        outline: none;
        border: none;
        border-bottom: solid 2px black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    .MultiText{
        display: block;
        width: 280px;
        height: 80px;
        margin: 10px auto;
        outline: none;
        border: none;
        border-bottom: solid 2px black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
}

@media screen and (max-width:810px) {
    .TopBar{
        width: 100%;
        height: 180px;
        background-color: white;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
    .ProfileBar{
        position: absolute;
        width: 100%;
        height: 600px;
        display: none;
        background-color: white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .avatar{
        width: 224px;
        height: 224px;
        margin: 0 auto;
        margin-top: 10px;
        background-color: white;
        border-radius: 100%;
        transition: 500ms;
    }
    .avatar img{
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        text-align: center;
        transition: 500ms;
    }
    .avatar:hover{
        width: 280px;
        height: 280px;
        transition: 500ms;
    }
    .Content{
        height: auto;
        max-width: 100%;
        min-height: 500px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        animation: fadeIn 600ms;
    }
    .work{
        width: 100%;
        height: 500px;
        margin: 0 auto;
        margin-top: 20px;
        background-color: white;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        transition: 500ms;
    }
    .work:hover{
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        transform: scale(0.9,0.9);
        transition: 500ms;
    }
    .work img{
        width: 100%;
        height: 300px;
        animation: scale 600ms;
        object-fit: cover;
    }
    .menuButton{
        width: 100%;
        height: 80px;
        text-align: center;
        display: block;
        background-color: white;
        margin-right: 20px;
        float: none;
        transition: 500ms;
    }
    .menuButton:hover{
        background-color: #f5f5f5;
        transition: 500ms;
    }
    .menuButton:hover .ProfileBar{
        display: block;
    }
    .InfoPanel{
        width: 100%;
        height: 500px;
        background-color: white;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        animation: fadeIn 600ms;
    }
    .InfoPanel img{
        margin-top: 20px;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        display: inline-block;
    }
    .Published{
        width: 100%;
        height: auto;
        background-color: white;
        margin: 0 auto;
        margin-top: 15px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        position: relative;
        animation: fadeIn 600ms;
    }
    .loginButton{
        width: 80%;
        height: 40px;
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 0 auto;
        background-color: #f5f5f5;
        outline: none;
        border: 0;
        color: black;
        display: block;
    }
    .loginButton:hover{
        background-color: #f1f1f1;
    }
    .loginButton:active{
        background-color: #c4c4c4;
    }
    .logoutButton{
        width: 80%;
        height: 40px;
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 10px auto;
        background-color: #f5f5f5;
        outline: none;
        border: 0;
        color: black;
        display: block;
    }
    .logoutButton:hover{
        background-color: #f1f1f1;
    }
    .logoutButton:active{
        background-color: #c4c4c4;
    }#mask{
        top: 0;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        z-index: 2;
        animation: fadeIn 600ms;
    }
    .Uploader{
        width: 100%;
        height: 100%;
        background-color: white;
        margin: 0 auto;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        animation: fadeIn 600ms;
    }
    .Uploader h1{
        line-height: 60px;
    }
    .SingleTextLine{
        display: block;
        width: 90%;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;
        outline: none;
        border: none;
        border-bottom: solid 2px black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    .MultiText{
        display: block;
        width: 90%;
        height: 80px;
        margin: 10px auto;
        outline: none;
        border: none;
        border-bottom: solid 2px black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
}