<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <link type="text/css" rel="stylesheet" href="/static/css/MainStyle.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/Fonts.css" />
    <title>{% block Title %}{% endblock %}</title>
</head>

<body>
    <div class="TopBar">
        <h1 class="titleLine"> T i n y G a l l e r y 1.0 </h1>
        <div class="menuButton">
            {% if g.user %}
            <p class="userNameTag">{{ userName }}</p>
            {% else %}
            <p class="userNameTag">Please Login</p>
            {% endif %}
            <div class="ProfileBar">
                <div class="avatar">
                    {% if g.user %}
                    <img class="avatarIMG" src="{{ userAvaterImage }}" />
                    {% else %}
                    <img class="avatarIMG" src="/static/img/default_avatar.jpg" />
                    {% endif %}
                </div>
                {% if g.user %}
                <p class="userName">{{ userName }}</p>
                <a href="/profile" class="logoutButton"> Profile </a>
                <a href="javascript:displayUploader();" class="logoutButton" type="button"> Upload </a>
                <a href="javascript:alert('Uunder Development..');" class="logoutButton" type="button"> Favorites </a>
                <a href="/auth/logout" class="logoutButton" type="button"> Sign Out </a>
                {% else %}
                <p class="userName">Please Login</p>
                <a href="/login_and_register" class="loginButton" type="button"> Sign In </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <div id="mask">
        <div class="Uploader">
            <h1 class="userName">Upload your artwork.</h1>
            <form name="uploader" action="/auth/upload" onsubmit="return uploaderChecking()" method="post"
                enctype="multipart/form-data">
                <input name="Title" class="SingleTextLine" type="text" placeholder="Title" />
                <textarea name="Description" class="MultiText" placeholder="Description" cols="30" rows="10"></textarea>
                <input name="Picture" class="logoutButton" type="file" />
                <input class="logoutButton" type="submit" value="Upload" />
            </form>
            <button class="logoutButton" type="button" onclick="displayUploader()">Back</button>
            <p class="textFont" style="display: none;"></p>
        </div>
    </div>
    <script src="/static/js/Main.js" type="text/javascript"></script>
</body>

</html>