<!-- 
    Author: WeepingDogel
    File: index.html
    Description: The Main Page of All, which is the first page the user may see. 
                 It contains the pictures uploaded before and the interaction elements, such as login, register and so on.
 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="static/css/MainStyle.css" />
        <link type="text/css" rel="stylesheet" href="static/css/FontOfWords.css" />
        <title>HomePage</title>
    </head>
    <body>
        <div class="topHead">
            <h1>TinyGallery</h1>
            <h2 class="subTitle">The pure place to storage and show your artworks.</h2>
        </div>
        <div class="menuBar">
            <div class="menuItems">
                <a class="menuUrls" href="/index">Home</a>
            </div>
            <div class="menuItems">
                <a class="menuUrls" href="/Pics">More</a>
                <ul class="dropDown">
                    <li class="dropDownItems">
                        <a class="dropDownUrls" href="#">Latest</a>
                    </li>
                    <li class="dropDownItems">
                        <a class="dropDownUrls" href="#">Toplist</a>
                    </li>
                </ul>
            </div>
            <div class="menuItems" id="menuItems_Right">
                <a class="menuUrls" href="#">About</a>
                <ul class="dropDown">
                    <li class="dropDownItems">
                        <a class="dropDownUrls" href="#">Options</a>
                    </li>
                    <li class="dropDownItems">
                        <a class="dropDownUrls" href="#">Options</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="boxLine">
            <div class="Aside">
                <div class="Profile">
                    <h1 class="centerTitle">Profile</h1>
                    <div class="Avatar">
                        <img src="#" alt="No Image"/>
                    </div>
                    <p class="username">{{ username }}</p>
                    <div class="Publish">
                        <span class="Nums">0</span>
                        <span class="textProfile">Published</span>
                    </div>
                    <div class="Likes">
                        <span class="Nums">0</span>
                        <span class="textProfile">Liked</span>
                    </div>
                    <div class="Followers">
                        <span class="Nums">0</span>
                        <span class="textProfile">Followers</span>
                    </div>
                </div>
                    <a style="display: {{ logIn }};" class="signButton" href="/login_and_register">Sign Up or Sign In</a>
                    <a style="display: {{ logOut }};" class="signButton" href="/logout">Log Out</a>
            </div>
            <div class="Content">
                <h1 class="centerTitle">DashBoard</h1>
            </div>
        </div>
        <div class="boxLine">
            <div class="PicBar">
                <div class="columns">
                    <img class="displayImages" src="{{ IMG1 }}" />
                    <p>Author: Test</p>
                    <p>Date: 2022-12-11 </p>
                    <p>Likes: 0</p>
                </div>
                <div class="columns">
                    <img class="displayImages" src="{{ IMG2 }}" />
                    <p>Author: Test </p>
                    <p>Date: 2022-12-11 </p>
                    <p>Likes: 0</p>
                </div>
                <div class="columns" id="right">
                    <img class="displayImages" src="{{ IMG3 }}" />
                    <p>Author: Test </p>
                    <p>Date: 2022-12-11 </p>
                    <p>Likes: 0</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span>TinyGallery Version:1.0beta</span>
        </div>
    </body>
</html>