<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="static/css/MainStyle.css" />
        <link type="text/css" rel="stylesheet" href="static/css/FontOfWords.css" />
        <title>Pics</title>
    </head>
    <body>
        <div class="topHead">
            <h1>TinyGallery</h1>
            <h2 class="subTitle">The pure place to storage and show your artworks.</h2>
        </div>
        <div class="menuBar">
            <div class="menuItems">
                <a class="menuUrls" href="/index">Home</a>
            </div>
            <div class="menuItems">
                <a class="menuUrls" href="/Pics">More</a>
                <ul class="dropDown">
                    <li class="dropDownItems">
                        <a class="dropDownUrls" href="#">Latest</a>
                    </li>
                    <li class="dropDownItems">
                        <a class="dropDownUrls" href="#">Toplist</a>
                    </li>
                </ul>
            </div>
            <div class="menuItems" id="menuItems_Right">
                <a class="menuUrls" href="#">About</a>
                <ul class="dropDown">
                    <li class="dropDownItems">
                        <a class="dropDownUrls" href="#">Options</a>
                    </li>
                    <li class="dropDownItems">
                        <a class="dropDownUrls" href="#">Options</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="boxLine">
            <div class="PicBar">
                
            </div>
        </div>
        <div class="boxLine">
            <div class="PicBar">
                
            </div>
        </div>
        <div class="footer">
            <span>TinyGallery Version:1.0beta</span>
        </div>
    </body>
</html>