<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="static/css/MainStyle.css" />
    <link type="text/css" rel="stylesheet" href="static/css/Fonts.css" />
    <title>Profile | {{ userName }}</title>
</head>
<body>
    <div class="TopBar">
        <h1 class="titleLine">Profile Info</h1>
    </div>
    <div class="InfoPanel">
        <img src="{{ AvatarLink }}" alt="NO AVATAR" class="profileAvatar">
        <h1 class="userName">{{ userName }}</h1>
        <form name="avatarChanging" action="/auth/avatar" method="POST" enctype="multipart/form-data" onsubmit="return avatarChecking();">
            <input class="logoutButton" name="file" type="file" />
            <input class="logoutButton" type="submit" value="Edit" />
        </form>
        <a class="logoutButton" href="/">Home</a>
    </div>
    <div class="Published">
        {% for x in Images %}
        <div class="work">
            <img src="{{ x['FileName'] }}" />
            <h1 class="userName">{{ x['ImageTitle'] }}</h1>
            <p class="textFont">
                <span>By {{ x['User'] }}</span>
                <br/>
                <span>Likes: {{ x['Dots'] }}</span>
                <br />
                <span>Description: {{ x['Description'] }}</span>
                <br />
                <span>Date: {{x['Date']}}</span>
            </p>
        </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="static/js/Main.js"></script>
</body>
</html>