{% extends "base.html" %}
{% block Title %} {{PageTitle}} | TinyGallery {% endblock %}
{% block body %}
<div class="Content">
    <div class="FullImageCard">
        <img id="FullSizeImage" src="{{ FileName }}" alt="{{ postUUID }}" onclick="OpenImageOnNewWindow()" />
    </div>
    <div class="RemarkPanel" >
        <h1 class="userName">{{ ImageTitle }}</h1>
        <p class="textFont">
            <span>{{ Description }}</span>
            <br />
            <span>By {{ User }}</span>
            <br />
            <span> 
                Likes: {{ Likes }} 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
            </span>
            <br />
            <span>{{ Date }}</span>
        </p>
        {% if g.user %}
        <button type="button" class="logoutButton" onclick="SendComments();">Comment</button>    
        {% else %}
        <p class="textFont"> Please Login to comment.</p>
        {% endif %}
        {% for x in Comments %}
        <div class="Remarks" id="{{ x['remarkUUID'] }}">
            <img src="/static/img/users/{{ x['User'] }}/avatar.jpg" />
            <h1 class="ReplyToUser userName">{{ x['User'] }}</h1>
            <p class="textFont">
                {% if x['ReplyTo'] != "" %}
                <a href="#{{ x['ReplyTo'] }}">
                    <b>@{{ x['ReplyToUser'] }}</b>
                </a>
                {{ x['Comment'] }}
                {% else %}
                {{ x['Comment'] }}
                {% endif %}
            </p>
            <p class="textFont ReplyToDate">{{ x['Date'] }}</p>
            <button class="Reply logoutButton" value="{{ x['remarkUUID'] }}" type="button" onclick="ReplyTo('{{ loop["index"] }}')" >Reply</button>
        </div>
        {% endfor %}
    </div>
</div>
{% if g.user %}
<div id="mask">
    <div id="SendComments" class="Uploader">
        <form action="/remark/comment"  name="Comments" onsubmit="" method="post">
            <input style="display: none" name="ReplyToDate" id="ReplyToDate" />
            <input style="display: none;" name="ReplyTo" id="ReplyTo" class="SingleTextLine" />
            <input onclick="ClearReply();" name="ReplyToUser" id="ReplyToUser" class="SingleTextLine" placeholder="ReplyTo" readonly="readonly" />
            <textarea class="MultiText" name="ContentOfComments" id="TheContent" cols="30" rows="10" placeholder="Say Something?"></textarea>
            <input class="logoutButton" value="Send" type="submit" />
            <input name="postUUID" id="VirtualInput" style="display: none;"/>
        </form>
        <button class="logoutButton" type="button" onclick="SendComments();">Back</button>
    </div>
</div>
    {% endif %}
{% endblock %}