{% extends "base.html" %}
{% block Title %} {{PageTitle}} | TinyGallery {% endblock %}
{% block body %}
<div class="Content">
    <div class="FullImageCard">
        <img id="FullSizeImage" src="{{ FileName }}" alt="{{ postUUID }}" />
    </div>
    <div class="RemarkPanel" >
        <div class="SendComments">
            {% if g.user %}
            <form action="/remark/comment"  name="Comments" onsubmit="" method="post">
                <textarea class="MultiText" name="ContentOfComments" id="TheContent" cols="30" rows="10" placeholder="Say Something?"></textarea>
                <input class="logoutButton" value="Send" type="submit" />
                <input name="postUUID" id="VirtualInput" style="display: none;"/>
            </form>
            {% else %}
            <p class="textFont"> Please Login to comment.</p>
            {% endif %}
        </div>
        {% for x in Comments %}
        <div class="Remarks" id="{{ x['remarkUUID'] }}">
            <img src="/static/img/users/{{ x['User'] }}/avatar.jpg" />
            <h1 class="userName">{{ x['User'] }}</h1>
            <p class="textFont">{{ x['Comment'] }}</p>
            <p class="textFont">Date: {{ x['Date'] }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}